body,html
{
	width: 100%
}
body{

	background-color: #446eea;
}

	#form{


		margin: 0 auto;
		border:5px solid #33ccff;
		width: 60%;
		text-align: center;
		padding: 30px 10px;
		box-shadow: 4px 2px 5px #000000;
		color:#800080; 
		font-style: italic;

	}

	}

	#delete{
	
		color:#33ccff; 
		font-style: italic;

	}
	#edit{
		margin: 0 auto;
		border:5px solid #33ccff;
		width: 60%;
		text-align: center;
		padding: 30px 10px;
		box-shadow: 4px 2px 5px #000000;
		color:#800080; 
		font-style: italic;

	}
	#crud{
		margin: 0 auto;
		border:5px solid #33ccff;
		width: 60%;
		text-align: center;
		padding: 30px 10px;
		box-shadow: 4px 2px 5px #000000;
		color:#800080; 
		font-style: italic;

	}





