body,html{
width: 100%
}
body{
	background-color: #7C8080;
}
	#inventory_form{
		margin: 0 auto;
		border: 3px solid black;
		width: 70%;
		text-align: center;
		padding: 50px 20px;
		box-shadow: 4px 2px 5px white;
	}
	#itemname,#desc,#qty,#admin{
		margin:10px 10px;
		font-size: 20px;
		color:#D5DADE  ;

	}
	#qty{
		margin-left: 70px;
	}
	#submit{
		margin-top: 30px;
	}
	a {
    text-decoration: none;
    color: black;
    }
    a:hover{
    	background-color:white;
    }
 #admin_result{
	margin:0 auto;
	border: 3px solid black;
	width: 50%;
	text-align: center;
	padding: 30px 20px;
	box-shadow: 4px 2px 5px white;
}
table{
	margin:0 auto;
	text-align: center;
	color: #CCD0D3;

}
a:link {
    text-decoration: none;
    color: #A8B9C5;*/
}
#del,#delqty,#deldesc,#delitem{
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 1px solid black;
}
h2{
	font-style: italic;
	font-family: Tahoma;
	color:#828EF3  ;
}